[submodule "deps/musl"]
	path = deps/musl
	url = git://git.musl-libc.org/musl
[submodule "deps/gcc"]
	path = deps/gcc
	url = git://gcc.gnu.org/git/gcc
[submodule "deps/busybox"]
	path = deps/busybox
	url = git://busybox.net/busybox
[submodule "deps/make"]
	path = deps/make
	url = git://github.com/mwcampbell/make
[submodule "deps/m4"]
	path = deps/m4
	url = git://github.com/mwcampbell/m4
[submodule "deps/flex"]
	path = deps/flex
	url = git://github.com/mwcampbell/flex
[submodule "deps/gmp"]
	path = deps/gmp
	url = git://github.com/mwcampbell/gmp
[submodule "deps/mpc"]
	path = deps/mpc
	url = git://github.com/mwcampbell/mpc
[submodule "deps/mpfr"]
	path = deps/mpfr
	url = git://github.com/mwcampbell/mpfr
