[submodule "deps/musl"]
	path = deps/musl
	url = git://git.musl-libc.org/musl
[submodule "deps/binutils"]
	path = deps/binutils
	url = git://sourceware.org/git/binutils
[submodule "deps/gcc"]
	path = deps/gcc
	url = git://gcc.gnu.org/git/gcc
[submodule "deps/busybox"]
	path = deps/busybox
	url = git://busybox.net/busybox
